* {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(20, 20, 20);
}

#menu {
    height: 100vh;
    display: flex;
    align-items: center;
}

#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 5% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 10% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 5% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 15% -100%;
}

.menu-item {
    color: white;
    font-size: clamp(3rem, 5vw, 8rem);
    font-weight: 300;

    display: block; 
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;

    transition: opacity 400ms ease;
}

.menu-items {
    margin-right: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 2;
    margin-left: auto;
    text-align: right;
}

.menu-items:hover > .menu-item {
    opacity: 0.3;
}

.menu-items:hover > .menu-item:hover {
    opacity: 1;
}

#menu-background-pattern {
    height: 100vh;
    width: 100%;

    background-image: radial-gradient(
        rgba(255, 255, 255, 0.5) 4%,
        transparent 3%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin; 

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;


    transition: opacity 800ms ease,
    background-size 800ms ease,
    background-position 800ms ease;
}

.menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu-background-image {
    height: 100%;
    width: 100%;
    background-image: url("img/IMG_0835.JPG");
    background-attachment: fixed;

    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 0;

    background-position: center 40%;
    background-size: cover;
    opacity: 0.15;

    transform: opacity 800ms ease,
    background-size 800ms ease,
    background-position 800ms ease;
}

.menu-items:hover ~ #menu-background-image {
    opacity: 0.1;
}

#menu[data-active-index="0"] > #menu-background-image {
    background-position: center 45%;
}

#menu[data-active-index="1"] > #menu-background-image {
    background-position: center 50%;
}

#menu[data-active-index="2"] > #menu-background-image {
    background-position: center 55%;
}

#menu[data-active-index="3"] > #menu-background-image {
    background-position: center 60%;
}

.container {
    height: 100%;
}

.box {
    display: flex;
    width: 75%;
    margin: 50px auto;
    color: white;
    
}

.me-data {
    border: 1px solid gray;
    width: 100%;
    flex-basis: 32%;
    padding: 15px;
}

@media (orientation: portrait) {
    .box {
        display: block;
    }
}




.projects-container {
    /* width: 75%; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    
}

@media (orientation: portrait) {
    .projects-container {
        display: block;
    }
}

.project {
    width: 100%;
    flex-basis: 48%;
    background-size: cover;
    background-position: center 0;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 5px 5px;
    transition: all 400ms ease;
    border-radius: 0.5rem;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: all 400ms ease;
    
}

.project:hover > img{
    opacity: 0.5;
    transform: scale(1.05);
}

.project p {
    position: absolute;
    left: 10px;
    bottom: 10px;
    opacity: 0;
    transition: all 400ms ease;
}

.project:hover > p {
    opacity: 1;
}


.contact-links {
    display: flex;
    justify-content: space-evenly;
}

.contact-box {
    width: 100%;
    height: 15vh;
    padding: 0;
    display: flex;
    justify-content:space-around;
    align-items: center;

    transition: opacity 400ms ease;
}

.contact-box:hover {
    opacity: 0.5;
}

#github {
    background-color:grey;
}

#mail {
    background-color:red;
}

#linkedin {
    background: rgb(0, 140, 255);
}

@media (orientation: portrait) {
    .contact-links {
        display: block;
    }
}

#footer {
    height: 2vh;
    width: 100%;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: all 0.3s ease; /* Add a transition effect */
}